body{
    font-family: "Hiragino Sans GB W3", "WenQuanYi Micro Hei", Verdana, Aril, sans-serif;
    -webkit-font-smoothing:antialiased;
    /*background-color: #fcfaf2;*/
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
    font-family: "Hiragino Sans GB W3", "WenQuanYi Micro Hei", Verdana, Aril, sans-serif;
    -webkit-font-smoothing:antialiased;
}
.f-ff1{
    font-family:"Microsoft YaHei",\5fae\8f6f\96c5\9ed1,arial,\5b8b\4f53;
}
.number-ft{
    font-family: arial;
    font-size: 20px;
    font-weight: bolder;
}
#header a{
    color: #181816;
}
a:hover{
    text-decoration: none;
    border-bottom: 1px solid #7c7a72;
    color: #4183c4;
}
a.clean-link-decoration{
    border-bottom: none;
    text-decoration: none;
}
.under-line{
    border-bottom: 1px solid darkred;
}
.under-line-gray{
    border-bottom: 1px solid #cccccc;
}
.user-head-s{
    height: 32px;
}
.user-head-m{
    height: 64px;
}
/*nav*/
#header{
    height: 60px;
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: 15px;
    background-color: #f3f3f3;
    text-shadow: 0 1px 0 #fff;
    border-bottom: 1px solid #e5e5e5;
    min-width: 1000px;
}
#header ul{
    height: 100%;
}
#header ul li{
    line-height: 2.3em;
    font-size: 1.2em;
}
#header ul li > a{
    font-weight: 500;
}
#header > .nav-pills{
    padding-left: 15px;
}
.nav>li>a:hover, .nav>li>a:focus{
    background-color: #e4e4e4;
}
/*.navbar-default{*/
    /*background-color: #f9f5e5;*/
    /*border: none;*/
/*}*/
.panel-default>.panel-heading{
    background-color: #fcfaf2;
}
.badge{
    background-color: #acacac;
}
.text-muted{
    color: #2c2c2c;
}
.container{
    width: 100%;
}
.discuss-title{
    height: 50px;
    font-size: 24px;
}
#project-setting{
    display: none;
}
.post-btn{
    margin-top: 15px;
    width: 100px;
}
.align-center{
    text-align: center;
    padding-top: 10px;
}
.div-bordered{
    border: 1px solid #cccccc;
    padding: 15px;
    /*margin-left: 1%;*/
    /*margin-top: 1%;*/
    /*width: 23.8%;*/
    border-radius: 4px;
    -moz-border-radius: 4px;
    float: left;
}
.div-bordered-3{
    border: 1px solid #cccccc;
    padding: 15px;
    margin-left: 1%;
    margin-top: 1%;
    width: 32.3%;
    border-radius: 4px;
    -moz-border-radius: 4px;
    float: left;
}
input[type="file"]{
    display: inline;
}
.file-icon{
    height: 100px;
}
#content>.container{
    padding-left: 15px;
    padding-right: 15px;
}

/*margin function*/
.fn-mb-5{
    margin-bottom: 5%;
}
.fn-mb-1{
    margin-bottom: 1.5%;
}
.fn-clm{
    margin: 0;
}
/*clean table bottom border*/
.fn-ctb-b{
    border-bottom: 0;
}
/*padding 1 percent*/
.fn-pp-1{
    padding: 1%;
}
/*remove input focus outline*/
input#title:focus {
    outline: none;
}