body{
    font-family: "Hiragino Sans GB W3", "WenQuanYi Micro Hei", Verdana, Aril, sans-serif;
    -webkit-font-smoothing:antialiased;
    background-color: #fcfaf2;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
    font-family: "Hiragino Sans GB W3", "WenQuanYi Micro Hei", Verdana, Aril, sans-serif;
    -webkit-font-smoothing:antialiased;
}
a{
    color: #181816;
}
a:hover{
    text-decoration: none;
    border-bottom: 1px solid #7c7a72;
    color: #5b5b55;
}
a.clean-link-decoration{
    border-bottom: none;
    text-decoration: none;
}
.under-line{
    border-bottom: 1px solid darkred;
}
/*nav*/
#header{
    height: 60px;
    margin-bottom: 15px;
}
#header ul{
    height: 100%;
}
#header ul li{
    line-height: 2em;
    font-size: 1.2em;
}
#header ul li > a{
    font-weight: 500;
}
.nav>li>a:hover, .nav>li>a:focus{
    background-color: #fcfaf2;
}
.navbar-default{
    background-color: #f9f5e5;
    border: none;
}
.panel-default>.panel-heading{
    background-color: #fcfaf2;
}
.badge{
    background-color: #acacac;
}
.text-muted{
    color: #2c2c2c;
}
.container{
    width: 100%;
}
.discuss-title{
    height: 50px;
    font-size: 24px;
}
#project-setting{
    display: none;
}
.post-btn{
    margin-top: 15px;
    width: 100px;
}
.align-center{
    text-align: center;
    padding-top: 10px;
}
.div-bordered{
    border: 1px solid #cccccc;
    padding: 15px;
    margin-left: 1%;
    margin-top: 1%;
    width: 23.8%;
    border-radius: 4px;
    -moz-border-radius: 4px;
    float: left;
}
.div-bordered-3{
    border: 1px solid #cccccc;
    padding: 15px;
    margin-left: 1%;
    margin-top: 1%;
    width: 32.3%;
    border-radius: 4px;
    -moz-border-radius: 4px;
    float: left;
}
input[type="file"]{
    display: inline;
}
.file-icon{
    height: 100px;
}
#content>.container{
    padding: 0;
}