body{
    /*font-family: "Hiragino Sans GB W3","Microsoft Yahei", "WenQuanYi Micro Hei", Verdana, Aril, sans-serif;*/
    -webkit-font-smoothing:antialiased;
    background-color: #eeeff1;
    background: url("../images/background.png");
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
    font-family: "Hiragino Sans GB W3","Microsoft Yahei", "WenQuanYi Micro Hei", Verdana, Aril, sans-serif;
    -webkit-font-smoothing:antialiased;
}
.f-ff1{
    font-family:"Microsoft YaHei",\5fae\8f6f\96c5\9ed1,arial,\5b8b\4f53;
}
.number-ft{
    font-family: arial;
    font-size: 20px;
    font-weight: bolder;
}
a.clean-link-decoration{
    border-bottom: none;
    text-decoration: none;
}
.under-line{
    border-bottom: 1px solid #d45;
}
.under-line-gray{
    border-bottom: 1px solid #cccccc;
}
.user-head-s{
    height: 32px;
}
.user-head-m{
    height: 64px;
}
/*nav*/
#header{
    height: 70px;
    margin-bottom: 15px;
    background-color: #2a2c2e;
    text-shadow: 0 1px 0 #fff;
    border-bottom: 1px solid #e5e5e5;
}
#header ul{
    height: 100%;
}
#header ul li{
    height: 70px;
    line-height: 50px;
}
#header ul li > a{
    color: #B5BDC0;
}
#header ul li > a:hover{
    background-color: #2a2c2e;
    color: #ffffff;
}
#header > .nav-pills{
    padding-left: 15px;
}
.nav-pills>li>a {
    border-radius: 0;
}
.nav>li>a{
    padding: 8px 15px;
}
.nav>li>a:hover, .nav>li>a:focus{
    background-color: #2a2c2e;
    color: #FFF;
    border-bottom: 3px solid #d45;
}
#header ul li a.active{
    border-bottom: 3px solid #d45;
    color: #ffffff;
}
.logo{
    margin-right: 20px;
    margin-top: 5px;
    line-height: 0;
}

.panel-default>.panel-heading{
    background-color: #fcfaf2;
}
.badge{
    background-color: #acacac;
}
.text-muted{
    color: #2c2c2c;
}

.discuss-title{
    height: 50px;
    font-size: 24px;
}
#project-setting{
    display: none;
}
.post-btn{
    margin-top: 15px;
    width: 100px;
}
.align-center{
    text-align: center;
    padding-top: 10px;
}
.div-bordered{
    border: 1px solid #cccccc;
    padding: 15px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    float: left;
}
.div-bordered-3{
    border: 1px solid #cccccc;
    padding: 15px;
    margin-left: 1%;
    margin-top: 1%;
    width: 32.3%;
    border-radius: 4px;
    -moz-border-radius: 4px;
    float: left;
}
input[type="file"]{
    display: inline;
}
.file-icon{
    height: 100px;
}
#content>.container{
    padding-left: 40px;
    padding-right: 15px;
}

/*margin function*/
.fn-mb-5{
    margin-bottom: 5%;
}
.fn-mb-1{
    margin-bottom: 1.5%;
}
.fn-mr-1{
    margin-right: 1%;
}
.fn-ml-4{
    margin-left: 4%;
}
.fn-clm{
    margin: 0;
}
.fn-mt-5{
    margin-top: 5%;
}
/*clean table bottom border*/
.fn-ctb-b{
    border-bottom: 0;
}
/*padding 1 percent*/
.fn-pp-1{
    padding: 1%;
}
.red-color{
    color: #d45;
}
.red-border{
    border-color: #d45;
}
/**/
.break-line{
    margin: 0 20px;
    float: left;
    height: 150px;
    border: 1px dashed #B5BDC0;
}
/*remove input focus outline*/
input#title:focus {
    outline: none;
}
input[type='email']{
    border: 0;
    border-bottom: 1px solid #2a2c2e;
    background-color: #eeeff1;
    width: 80%;
}
.fn-border-bottom-dotted{
    border: 0;
    border-bottom: 1px dotted #2a2c2e;
}
.fn-bb-1{
    border-bottom: none;
}
.no-outline{
    outline: none;
}
.no-border{
    border: none;
}
/*footer*/
#footer{
    min-height: 180px;
    background-color: #2a2c2e;
    color: #8e999d;
}
#footer .col-md-4{
    height: 160px;
    line-height: 40px;
    margin-top: 20px;
    border-right: 1px solid #8e999d;
}
#footer .col-md-4 img{
    margin-top: 40px;
}
#footer .col-md-4:last-child{
    border-right: none;
}
#footer .footer-navigation{
    width: 80%;
    margin: 0 10%;
}
#footer .footer-navigation ul {
    width: 50%;
    float: left;
    line-height: 25px;
    margin-top: 20px;
}
#footer .footer-navigation ul li a{
    color: #8e999d;
}
#footer .footer-navigation ul li a:hover{
    border-bottom: none;
}
#footer .footer-navigation ul:last-child li a{
    padding-left: 50%;
}
#footer .col-md-4:last-child p{
    margin-top: 20px;
}
#selectUserId .col-md-1{
    border-right: 3px solid #d45;
    min-height: 150px;
}
/*project index*/
.project-action{
    line-height: 4;
}
.project-action a{
    padding-right: 20px;
}
/*project list*/
.project-list > .col-md-4{
    margin-right: 1%;
}
.project-list, .project-list a, .project-list p{
    color: #5e5e5e;
}
.project-list h3 a:hover{
    border-bottom: 1px solid #d45;
}
.project-list p{
    margin-top: 15px;
}
.project-list > .col-md-4:nth-child(3n){
    margin-right: -2%;
}
.project-inbox{
    font-size: 4em;
    color: #B5BDC0;
}
/*to do list*/
.add-todo{
    margin-left: 35px;
}
#currentTodos{
    margin-top: 15px;
}
#currentTodos ul li a{
    line-height: 24px;
}
.checkbox{
    margin-left: 15px;
}
.todo-lists > div{
    margin-top: 30px;
}
.todo-lists > div:first-child{
    margin-top: 0px;
}
.todo-lists > div > h4{
    display: inline-block;
}
.edit-btn{
    margin-left: 20px;
}
.btn-group{
    /*display: none;*/
}
.list-group.checkbox > .list-group-item{
    padding: 10px 35px;
}
.todo-lists > #createTaskSection input{
    display: inline-block;
}
.todo-lists > #createTaskSection .actions{
    padding-top: 15px;
    padding-left: 1em;
}
.todo-lists > #createTaskSection .actions button{
    margin-right: 20px;
}
.todo-lists > #createTaskSection input[type=text]{
    line-height: 2;
    outline: none;
}
.todo-lists > #createTaskSection input.fn-cl-b{
    border: 0;
    font-size: 12px;
}
section.taskList ul li a{
    padding: 15px;
}
.default-task-list{
    height: 2em;
    line-height: 2.5em;
    margin-left: 30px;
}
.default-task-list li a {
    color: #2a2c2e;
    /*font-size: 12px;*/
}
.task-container{
    min-height: 3em;
    background: #eeeff1;
    border-radius: 4px;
    box-shadow: 1px 1px #ccc;
    -moz-box-shadow: 1px 1px #ccc;
    margin-bottom: 10px;
    overflow: auto;
    text-shadow: 0 1px #FFF;
}
.sub-task-container{
    padding: 1em;
    padding-left: 5em;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    background-color: #fafbfb;
    line-height: 2em;
    font-size: .9em;
}
.sub-task-container > input{
    width: 100%;
    font-size: 12px;
    background-color: #fafbfb;
}
.sub-task-container > div > input{
    margin-right: 2em;
}
.sub-task-container > div > a{
    color: #2a2c2e;
}